/*-----------------------------Font Face et body--------------------------*/

@font-face
{
		font-family: 'Raleway';
		src: url('Raleway/raleway.eot');
		src: url('Raleway/raleway.eot?#iefix') format('embedded-opentype'),
			 url('Raleway/raleway.woff') format('woff'),
			 url('Raleway/raleway.ttf') format('truetype'),
			 url('Raleway/raleway.svg#Raleway');
		font: normal;
		font-style: normal;
}

body
{
	font-family: raleway, serif;
	margin-left: 20px;
	margin-right:20px;
	margin-top: 20px;
}

a:visited, a:link, a
{
	text-decoration: none;
	color: initial;
}

* 
{
  box-sizing: border-box;
}

/*-------------------- header--------------------------------*/

.logo
{
	display: flex;
	width: 115.2px;
	height: 115.2px;
}

.menu_logo
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1px;
}

.menu
{
	display: flex;
	list-style-type: none;
	font-size: 14px;
	color: black;
}

li
{
	margin-left: 72px;
}

.inscription a 
{
	color: #0065FC;
}

}
.liste_menu:hover
{
	color: #0065fc;
	border-top: 2px solid;
	padding-top: 47px;

}

.effect_menu
{
	display: inline-block;
	width: 130%;
	text-align: center;
}
/*-------------------------------------Titres-------------------*/

.texte_1
{
	font-family: raleway, serif;
	margin-top: 0.16px;
}

.texte_2
{
	font-size: 14px;
	margin-top: 0.20px;
	color: grey;
}


/*-----------------recherche---------------------------------*/

.bloc_recherche
{
	display: flex;
	margin-top: 14.4px;
}

.fa-map-marker-alt
{
	font-size: 14.4px;
	text-align: center;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	padding: 1%;
}

.barre_recherche
{
	border: none;
	border: 1px solid #f2f2f2;
	font-family: raleway, serif;
	font-size: 15px;
	padding: 8px 16px 8px 16px;
}

input::placeholder
{
	color: black;
	opacity: 1;
	font-weight: bold;
}

input:focus
{
	outline: none;
}

.bouton
{
	border: none;
	color: white;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065fc;
	font-family: raleway, serif;
	font-size: 16px;
	padding: 8px 16px 8px 16px;
}

.fa-search
{
	visibility: hidden;
}

.bouton:hover
{
	cursor: pointer;
}

/*-------------------------------Filtres-------------------------*/

.bloc_filtres
{
	display: flex;
	align-items: center;
	font-family: raleway, serif;
	margin-top: 0.30px;
	white-space: nowrap;
	font-weight: bold;
}

.titre_filtres
{
	margin-right: 21px;
	font-size: 14px;
}

.filtres
{
	display: flex;
	font-size: 14px;
	align-items: center;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-right: 14px;
	border-radius: 30px;
	padding-right: 14px;
	margin-right: 28px;
}

.filtres:hover
{
	background-color:#DEEBFF;
	cursor: pointer;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	display: flex;
	color: #0065fc;
	font-size:20px;
	padding: 10px;
	background-color:#DEEBFF;
	border-radius: 50%;
	margin-right: 14px;
}

.fa-money-bill-wave
{
	padding-right: 8px;
	padding-left: 8px;
}

.fa-child
{
	padding-right: 12px;
	padding-left: 12px;
}

.info
{
	display: flex;
	font-size: 14px;
	margin-top: 10px;
	color: grey;
}

.fa-info
{
	color: #0065fc;
	font-size: 13px;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	padding: 6px 11px;
	margin-right: 16px;
}

/*---------------------------Liste hebergements Marseille et les plus popu------------*/

#liste_logements
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}

#liste_logements h2
{
	margin-top: 30px;
	margin-bottom: 10px;
}

#Hébergements_Marseille
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	padding: 0px 20px 20px 20px;
	width: 73%;
}

#logement_dispo_ligne_1
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#logement_dispo_ligne_2
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#Hébergements_Marseille article
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background: white;
	border: 1px solid #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 2px 2px 2px #F2F2F2;
	height: 180px;
	width: 260px;
}

#Hébergements_Marseille a:link
{
	text-decoration: none;
}

#Hébergements_Marseille a
{
	color: black;
}

#Hébergements_Marseille article img
{
	object-fit: cover;
	padding: 5px 5px 0px 5px;
	border-radius: 20px 20px 0px 0px;
	height: 60%;
	width: 100%;
}

#Hébergements_Marseille article .informations
{
	display: flex;
	flex-direction: column;
	height: 40%;
	width: 90%;
	padding: 5px 5px 5px 15px;
	padding-left: 15px;
	font-size: 14px;
}

#Hébergements_Marseille article p
{
	margin-top: 0px;
	margin-bottom: 3px;
	font-size: 90%;

}

#Hébergements_Marseille h3
{
	margin-top: 0px;
	margin-bottom: 1px;
}

#Hébergements_Marseille article .note_etoiles
{
	display: flex;
}

#Hébergements_Marseille .fas
{
	color: #0065FC;
}

#Hébergements_Marseille .greystar
{
	color: #DCDCDC;
}

#Hébergements_Marseille p
{
	font-size: 17px;
	font-weight: bold;
}

/*------------------------------ + populaires---------------*/

#logemnts_populaire
{
	display: flex;
	flex-wrap: wrap;
	background: #F2F2F2;
	padding: 0px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	width: 25%;
}

#logemnts_populaire a:link
{
	text-decoration: none;
}

#logemnts_populaire a
{
	color: black;
}

#titre_plus_popu
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#liste_logements_populaire h3
{
	margin-top: 0px;
	margin-bottom: 2px;
}

#liste_logements_populaire
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
}

#liste_logements_populaire article
{
	display: flex;
	align-items: flex-start;
	background: white;
	border: 1px solid #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	padding: 5px 0px 2px 5px;
	box-shadow: 3px 3px 3px #F2F2F2;
	height: 120px;
	width: 100%;
}

#liste_logements_populaire article img
{
	flex: 1 1 40%;
	height: 98%;
	width: 20%;
	border-radius: 13px 0px 0px 13px;
	object-fit: cover;
}

#liste_logements_populaire article .informations_popu
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 1 60%;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 80%;
}

 #liste_logements_populaire article .informations p
	{
		margin-top: -2px;
		margin-bottom: 5px;
		font-size: 80%;
	}

#liste_logements_populaire article .note_etoiles
{
	padding-top: 3px;
}

#liste_logements_populaire article .fas
{
	color: #0065FC;
}

#liste_logements_populaire article .greystar
{
	color: #DCDCDC;
}


/*--------------------------------Activités--------------------*/

#Activités
{
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 20px;
}

#Bloc_activités
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#Activités a:link
{
	text-decoration: none;
}

#Activités a
{
	color: black;
}

#Bloc_activités div
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

#Bloc_activités h3
{
	font-size: 85%;
	margin-left: 10px;
}

.simple
{
	flex-wrap: nowrap;
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 3px 3px 3px #F2F2F2;
	height: 320px;
	width: 90%;
}

.simple img
{
	flex-wrap: wrap;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	height: 86%;
	width: 100%;
}

.double
{
	flex-wrap: wrap;
	border: 1px solid #F2F2F2;
	border-radius: 22px 22px 22px 22px;
	box-shadow: 3px 3px 3px #F2F2F2;
	height: 150px;
	width: 250px;
}

.double img
{
	flex-wrap: nowrap;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	height: 70%;
	width: 100%;
}

/*-------------------------------Footer-------------------*/

footer
{
	display: flex;
	flex-wrap: wrap;
	background: #F2F2F2;
	background-size: cover;
	margin-left: -20px;
	margin-right: -20px;
	width: 100%;
}

footer div
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-right: 30px;
	width: 430px;
}

footer h3
{
	font-weight: bold;
	margin: 20px 40px 0px 40px;
}

footer ul
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer li
{
	list-style: none;
	padding: 5px;
}

/*-------------------------------------@Media-----------------------*/

@media all and (max-width:  780px)
{
	body
	{
		width: 100%;
	}
}

@media (min-width: 781px) and (max-width: 900px)
{
	body
	{
		width: 100%;
	}
}
 
 main 
 {
 	margin: 20px;
 }

@media all and (max-width: 780px)
{
	margin-top
	{
		width: 100%;
		margin: 0px;
	}
}

@media (min-width: 780px) and (max-width: 1500px)
{
	header
	{
		width: 100%;
		padding-left: 0px;
	}
}

@media all and (max-width: 780px)
{
	header
	{
		width: 100%;
		flex-direction: column;
		padding-left: 0px;
	}
	
	svg
	{
		position: absolute;
		padding-bottom: 15px;
		padding-top: 30px;
	}

	nav
	{
		width: 100%;
		justify-content: left;
    flex-wrap: wrap-reverse;
  }
	
	#menu_hébergement
	{
		width: 50%;
		text-align: center;
		padding-bottom: 18px;
		margin-right: 0px;
		border-bottom: 3px solid #F2F2F2;
	}

	#menu_activité
	{
		width: 50%;
		margin-right: 0px;
		text-align: center;
		padding-bottom: 18px;
		border-bottom: 3px solid #F2F2F2;
	}

	#inscription
	{
		margin-left: 80%;
		padding-top: 20px;
		justify-content: flex-start;
	}

	nav #menu_hébergement:hover
	{																						
		border-bottom: 3px solid #0065FC ;
		padding-bottom: 20px;
		border-top: none;
	}

	nav #menu_hébergement a:hover
	{
		color: #0065FC;
	}																										

	nav #menu_activité:hover
	{																										
		border-bottom: 3px solid #0065FC ;
		padding-bottom: 20px;
		border-top: none;
	}

	nav #menu_activité a:hover
	{
		color: #0065FC;
	}	



































