/*-----------------------------Font Face et body--------------------------*/

font-face
{
		font-family: 'Raleway';
		src: url('Raleway/raleway.eot');
		src: url('Raleway/raleway.eot?#iefix') format('embedded-opentype'),
			 url('Raleway/raleway.woff') format('woff'),
			 url('Raleway/raleway.ttf') format('truetype'),
			 url('Raleway/raleway.svg#Raleway');
		font: normal;
		font-style: normal;
}

body
{
	font-family: raleway, serif;
	margin-left: 20px;
	margin-right:20px;
	margin-top: 20px;
}

a:visited, a:link, a
{
	text-decoration: none;
	color: initial;
}
/*-------------------- header--------------------------------*/

.logo
{
	display: flex;
	width: 115.2px;
	height: 115.2px;
}

.menu_logo
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1px;
}

.menu
{
	display: flex;
	list-style-type: none;
	font-size: 14px;
	color: black;
}

li
{
	margin-left: 72px;
}

.inscription a 
{
	color: #0065FC;
}

}
.liste_menu:hover
{
	color: #0065fc;
	border-top: 2px solid;
	padding-top: 47px;

}

.effect_menu
{
	display: inline-block;
	width: 130%;
	text-align: center;
}
/*-------------------------------------Titres-------------------*/

.texte_1
{
	font-family: raleway, serif;
	font-size: 20px;
	margin-top: 0.16px;
}

.texte_2
{
	font-size: 14px;
	margin-top: 0.20px;
	color: grey;
}


/*-----------------recherche---------------------------------*/

.bloc_recherche
{
	display: flex;
	margin-top: 14.4px;
}

.fa-map-marker-alt
{
	font-size: 14.4px;
	text-align: center;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 15px 0px 0px 15px;
	padding: 1%;
}

.barre_recherche
{
	border: none;
	border: 1px solid #f2f2f2;
	font-family: raleway, serif;
	font-size: 15px;
	padding: 8px 16px 8px 16px;
}

input::placeholder
{
	color: black;
	opacity: 1;
	font-weight: bold;
}

input:focus
{
	outline: none;
}

.bouton
{
	border: none;
	color: white;
	border-radius: 0px 15px 15px 0px;
	background-color: #0065fc;
	font-family: raleway, serif;
	font-size: 16px;
	padding: 8px 16px 8px 16px;
}

.fa-search
{
	visibility: hidden;
}

.bouton:hover
{
	cursor: pointer;
}

/*-------------------------------Filtres-------------------------*/

.bloc_filtres
{
	display: flex;
	align-items: center;
	font-family: raleway, serif;
	margin-top: 0.30px;
	white-space: nowrap;
	font-weight: bold;
}

.titre_filtres
{
	margin-right: 21px;
	font-size: 14px;
}

.filtres
{
	display: flex;
	font-size: 14px;
	align-items: center;
	border: 2px solid #f2f2f2;
	border-left: none;
	border-right: 14px;
	border-radius: 30px;
	padding-right: 14px;
	margin-right: 28px;
}

.filtres:hover
{
	background-color:#DEEBFF;
	cursor: pointer;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	display: flex;
	color: #0065fc;
	font-size:20px;
	padding: 10px;
	background-color:#DEEBFF;
	border-radius: 50%;
	margin-right: 14px;
}

.fa-money-bill-wave
{
	padding-right: 8px;
	padding-left: 8px;
}

.fa-child
{
	padding-right: 12px;
	padding-left: 12px;
}

.info
{
	display: flex;
	font-size: 14px;
	margin-top: 10px;
	color: grey;
}

.fa-info
{
	color: #0065fc;
	font-size: 13px;
	border: 2px solid #f2f2f2;
	border-radius: 50%;
	padding: 6px 11px;
	margin-right: 16px;
}